@inject Microsoft.Extensions.Localization.IStringLocalizer<RegisterModel>  _localizer
@model RegisterModel

<div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Name"] <span class="text-danger">*</span></label>
    <input type="text" asp-for="InputContragent.Name" class="form-control" placeholder=@_localizer["Name"] />
    <span class="invalid-feedback" asp-validation-for="InputContragent.Name"></span>
</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Full name"]<span class="text-danger">*</span></label>
    <input type="text" asp-for="InputContragent.FullName" class="form-control" placeholder=@_localizer["Full name"] />
    <span class="invalid-feedback" asp-validation-for="InputContragent.FullName"></span>
</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["INN"]<span class="text-danger">*</span></label>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="@(Settings.Theme.IconPrefix) fa-scanner-touchscreen width-1 text-align-center"></i></span>
        </div>
        <input type="text" placeholder="" asp-for="InputContragent.INN" data-inputmask="'mask': '999999999999'" class="form-control">
    </div>
    <span class="help-block">e.g "999999999999"</span>
    <span class="invalid-feedback" asp-validation-for="InputContragent.INN"> </span>

</div>

<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["KPP"]</label>
    <input type="text" asp-for="InputContragent.KPP" class="form-control" placeholder=@_localizer["KPP"] />
    <span class="invalid-feedback" asp-validation-for="InputContragent.KPP"> </span>
</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Site"]</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="@(Settings.Theme.IconPrefix) fa-desktop width-1 text-align-center"></i></span>
        </div>
        <input type="text" asp-for="InputContragent.Site" class="form-control" placeholder="" data-inputmask="'alias': 'url'" />
    </div>
    <span class="help-block">http:// or ftp://</span>

    <span class="invalid-feedback" asp-validation-for="InputContragent.Site"> </span>

</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Phone"]<span class="text-danger">*</span></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="@(Settings.Theme.IconPrefix) fa-phone width-1 text-align-center"></i></span>
        </div>
        <input type="text" asp-for="InputContragent.Phone" data-inputmask="'mask': '+7 (999) 999-9999'" class="form-control" placeholder="" />
    </div>

    <span class="help-block">+7 (999) 999-9999</span>
    <span class="invalid-feedback" asp-validation-for="InputContragent.Phone"> </span>

</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Contact person"]<span class="text-danger">*</span></label>
    <input type="text" asp-for="InputContragent.ContactPerson" class="form-control" placeholder=@_localizer["Contact person"] />

    <span class="invalid-feedback" asp-validation-for="InputContragent.ContactPerson"></span>
</div>

<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Contact person phone"]<span class="text-danger">*</span></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="@(Settings.Theme.IconPrefix) fa-phone-square-alt width-1 text-align-center"></i></span>
        </div>
        <input type="text" asp-for="InputContragent.ContactPhone" class="form-control" placeholder="" data-inputmask="'mask': '+7 (999) 999-9999'" />

    </div>

    <span class="help-block">+7 (999) 999-9999</span>
    <span class="invalid-feedback" asp-validation-for="InputContragent.ContactPhone"></span>
</div>

<div class="form-group">
    <label class="form-label" asp-for="Input.Email">@_localizer["Email"]<span class="text-danger">*</span></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="@(Settings.Theme.IconPrefix) fa-mouse-pointer width-1 text-align-center"></i></span>
        </div>
        <input type="text" asp-for="Input.Email" placeholder="" data-inputmask="'alias': 'email'" class="form-control">
    </div>
    <span class="help-block">xx@@xxx.xx</span>
    @*<input type="email" asp-for="Input.Email" class="form-control" placeholder=@_localizer["Email"] value="" data-inputmask="'alias': 'email'" />*@
    <span class="invalid-feedback" asp-validation-for="Input.Email"></span>

</div>
<div class="form-group">
    <label class="col-xl-12 form-label">@_localizer["Type of activity"]<span class="text-danger">*</span></label>
    <input type="text" asp-for="InputContragent.TypeOfActivity" class="form-control" placeholder=@_localizer["Type of activity"] />
    <span class="invalid-feedback" asp-validation-for="InputContragent.TypeOfActivity"></span>
</div>
@*<div class="form-group">
        <label class="form-label" asp-for="Input.Password">@_localizer["Please pick a password"]</label>
        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Email for verification (minimum 6 characters)" value="" required="required" />
        <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
        <div class="help-block">Your password must be 6-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emojis.</div>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Input.ConfirmPassword">@_localizer["Please confirm your password"]</label>
        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Email for verification (minimum 6 characters)" value="" required="required" />
        <span class="invalid-feedback" asp-validation-for="Input.ConfirmPassword">Sorry, you missed this one.</span>
    </div>*@
<div class="form-group demo">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="Input.AgreeToTerms" />
        <label class="custom-control-label" asp-for="Input.AgreeToTerms">@_localizer["I agree to terms & conditions"]</label>
        <span class="invalid-feedback" asp-validation-for="Input.AgreeToTerms">You must agree before proceeding.</span>
    </div>

</div>
<div class="row no-gutters">
    <div class="col-md-6 ml-auto text-right">
        <button id="js-login-btn" type="submit" class="btn btn-block btn-danger btn-lg mt-3">@_localizer["Send verification"]</button>
    </div>
</div>
