@using CleanArchitecture.Razor.Domain.Enums
@model SmartAdmin.WebUI.Pages.ComOffers.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
<div class="modal fade " id="composition_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-xl " role="document">
        <div class="modal-content  ">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <div class="panel-toolbar">
                    <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" onclick="TogleFullScreen()"><i class="@(Settings.Theme.IconPrefix) fa-expand"></i></button>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></span>
                    </button>
                </div>
            </div>


            <form id="compostion_edit_form" class="needs-validation" novalidate="novalidate">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Input.Id" />
                    <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <label class="form-label" for="Number">@_localizer["Number"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Number" class="form-control" placeholder="@_localizer["Number"]" />
                            <span class="invalid-feedback" asp-validation-for="Input.Number"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="name">@_localizer["Direction"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.DirectionId" asp-items="Model.Directions" class="custom-select" placeholder="@_localizer["Direction"]" data-val-required="Не выбрано 'Направление'">
                                <option value="">@_localizer["Choose a direction"]</option>
                            </select>

                            <span class="invalid-feedback" asp-validation-for="Input.DirectionId"></span>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="Volume">@_localizer["Delay day"] <span class="text-danger">*</span></label>
                            <input type="number" asp-for="Input.DelayDay" class="form-control" placeholder="@_localizer["Days"]" step="1" />
                            <span class="invalid-feedback" asp-validation-for="Input.DelayDay"></span>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="IsBankDays">@_localizer["Bank days"] </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Input.IsBankDays" class="custom-control-input" />
                                <label class="custom-control-label" for="Input_IsBankDays"></label>

                            </div>
                            <span class="invalid-feedback" asp-validation-for="Input.IsBankDays"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="form-label" for="name">@_localizer["Name"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.Name" class="form-control" placeholder="@_localizer["Name"]" />
                            <span class="invalid-feedback" asp-validation-for="Input.Name"></span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="VatId">@_localizer["Status"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.Status" asp-items="Html.GetEnumSelectList<ComOfferStatus>()" class="custom-select" placeholder="@_localizer["Status"]" data-val-required="Не выбрано 'Статус'">
                                <option value="">@_localizer["Choose a status"]</option>
                            </select>

                            <span class="invalid-feedback" asp-validation-for="Input.Status"></span>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="IsBankDays">@_localizer["Price include delivery"] </label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" asp-for="Input.IsDeliveryInPrice" class="custom-control-input" />
                                <label class="custom-control-label" for="Input_IsDeliveryInPrice"></label>

                            </div>
                            <span class="invalid-feedback" asp-validation-for="Input.IsDeliveryInPrice"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label class="form-label">@_localizer["Term from"] <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="Input.TermBegin" type="date">
                            <span class="invalid-feedback" asp-validation-for="Input.TermBegin"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">@_localizer["Term to"] <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="Input.TermEnd" type="date">
                            <span class="invalid-feedback" asp-validation-for="Input.TermEnd"></span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">@_localizer["Manager"] <span class="text-danger">*</span></label>
                            <select type="text" asp-for="Input.ManagerId" asp-items="Model.Managers" class="custom-select" placeholder="@_localizer["Manager"]">
                                <option value="">@_localizer["Choose manager"]</option>
                            </select>

                            <span class="invalid-feedback" asp-validation-for="Input.ManagerId">Не выбрано 'Менеджер'</span>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="WinnerName">@_localizer["Winner"] <span class="text-danger">*</span></label>
                            <input type="text" asp-for="Input.WinnerName" class="form-control" placeholder="@_localizer["Winner"]" readonly />
                            <span class="invalid-feedback" asp-validation-for="Input.WinnerName"></span>
                        </div>
                    </div>

                     
                   



                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                    <button type="button" id="save" class="btn btn-primary">@_localizer["Save"]</button>
                </div>

            </form>


        </div>
        
    </div>
</div>
