@using CleanArchitecture.Razor.Domain.Enums
@using CleanArchitecture.Razor.Application.Constants.Permission
@model SmartAdmin.WebUI.Pages.ComOffers.IndexModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel> _localizer
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService _authorizationService
@{
    var _canStart = await _authorizationService.AuthorizeAsync(User, null, Permissions.ComOffers.Start);
var _canEdit = await _authorizationService.AuthorizeAsync(User, null, Permissions.ComOffers.Edit);
}
<div class="panel" id="edit_panel" style="display:none">


    <div class="panel-hdr text-primary">
        <h2 class="panel-title">@_localizer["Panel title"]</h2>
        <div class="panel-toolbar">
            <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"><i class="@(Settings.Theme.IconPrefix) fa-window-minimize"></i></button>
            <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="@(Settings.Theme.IconPrefix) fa-expand"></i></button>
            <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" onclick="closePanel()" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"><i class="@(Settings.Theme.IconPrefix) fa-times"></i></button>
        </div>
    </div>

    <div class="panel-container ">
        <div class="panel-content">
            <form id="edit_form_panel" class="needs-validation" novalidate="novalidate">

                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Input.Id" />
                <input type="hidden" asp-for="Input.Status" />
                <div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
                <div class="form-row">
                    <div class="col-md-4">
                        <label class="form-label" for="Number">@_localizer["Number"] <span class="text-danger">*</span></label>
                        <input type="text" asp-for="Input.Number" class="form-control readonly" placeholder="@_localizer["Number"]" readonly />
                        <span class="invalid-feedback" asp-validation-for="Input.Number"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="name">@_localizer["Direction"] <span class="text-danger">*</span></label>
                        <select type="text" asp-for="Input.DirectionId" asp-items="Model.Directions" class="custom-select" placeholder="@_localizer["Direction"]" data-val-required="Не выбрано 'Направление'">
                            <option value="">@_localizer["Choose a direction"]</option>
                        </select>

                        <span class="invalid-feedback" asp-validation-for="Input.DirectionId"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="Volume">@_localizer["Delay day"] <span class="text-danger">*</span></label>
                        <input type="number" asp-for="Input.DelayDay" class="form-control" placeholder="@_localizer["Days"]" step="1" />
                        <span class="invalid-feedback" asp-validation-for="Input.DelayDay"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="IsBankDays">@_localizer["Bank days"] </label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Input.IsBankDays" class="custom-control-input" />
                            <label class="custom-control-label" for="Input_IsBankDays"></label>

                        </div>
                        <span class="invalid-feedback" asp-validation-for="Input.IsBankDays"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <label class="form-label" for="name">@_localizer["Name"] <span class="text-danger">*</span></label>
                        <input type="text" asp-for="Input.Name" class="form-control" placeholder="@_localizer["Name"]" />
                        <span class="invalid-feedback" asp-validation-for="Input.Name"></span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="VatId">@_localizer["Status"] <span class="text-danger">*</span></label>
                        <input type="text" asp-for="Input.StatusStr" class="form-control readonly" placeholder="@_localizer["Status"]" readonly />
                        @*<select type="text" asp-for="Input.Status" asp-items="Html.GetEnumSelectList<ComOfferStatus>()" class="custom-select" placeholder="@_localizer["Status"]" data-val-required="Не выбрано 'Статус'">
                                <option value="">@_localizer["Choose a status"]</option>
                            </select>*@

                        <span class="invalid-feedback" asp-validation-for="Input.StatusStr"></span>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="IsBankDays">@_localizer["Price include delivery"] </label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="Input.IsDeliveryInPrice" class="custom-control-input" />
                            <label class="custom-control-label" for="Input_IsDeliveryInPrice"></label>

                        </div>
                        <span class="invalid-feedback" asp-validation-for="Input.IsDeliveryInPrice"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <label class="form-label">@_localizer["Term from"] <span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="Input.TermBegin" type="date">
                        <span class="invalid-feedback" asp-validation-for="Input.TermBegin"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">@_localizer["Term to"] <span class="text-danger">*</span></label>
                        <input class="form-control" asp-for="Input.TermEnd" type="date">
                        <span class="invalid-feedback" asp-validation-for="Input.TermEnd"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">@_localizer["Manager"] <span class="text-danger">*</span></label>
                        <select type="text" asp-for="Input.ManagerId" asp-items="Model.Managers" class="custom-select" placeholder="@_localizer["Manager"]">
                            <option value="">@_localizer["Choose manager"]</option>
                        </select>

                        <span class="invalid-feedback" asp-validation-for="Input.ManagerId">Не выбрано 'Менеджер'</span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="WinnerName">@_localizer["Winner"] <span class="text-danger">*</span></label>
                        <input type="text" asp-for="Input.WinnerName" class="form-control readonly" placeholder="@_localizer["Winner"]" readonly />
                        <span class="invalid-feedback" asp-validation-for="Input.WinnerName"></span>
                    </div>
                </div>


            </form>



            <ul class="nav nav-tabs  mt-4" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ComPosition" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-info-square mr-1"></i> @_localizer["Position"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ComParticipant" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-users mr-1"></i> @_localizer["Participants"]</a>
                </li>
        
        
                <li class="nav-item" id="ComStageTab">
                    <a class="nav-link" data-toggle="tab" href="#ComStage" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-sort-numeric-up-alt mr-1"></i> @_localizer["Stages"]</a>
                </li>
        
            </ul>
            <div class="tab-content border border-top-0 p-1">
                <div class="tab-pane fade show p-2 active" id="ComPosition" role="tabpanel">
                    <partial name="ComPosition" />
                </div>
                <div class="tab-pane fade show p-2" id="ComParticipant" role="tabpanel">
                    <partial name="ComParticipant" />
                </div>
        
        
                    <div class="tab-pane fade  p-2" id="ComStage" role="tabpanel">
                        <partial name="ComStage" />
                    </div>
        
                </div>
            <div class="panel-footer p-2  " style="text-align:right">
                @if (_canStart.Succeeded)
                {
                    <button type="button" class="btn btn-danger mr-5" id="btnStartStage">@_localizer["Запуск"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnSendStage">@_localizer["Отправить запрос"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnEndStage">@_localizer["Завершить этап досрочно"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnChangeDeadline">@_localizer["Изменить срок ответа до"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnCancelStage">@_localizer["Отмена проведения"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnSelectWinnerStage">@_localizer["Объявить победителя"]</button>
                    <button type="button" class="btn btn-danger mr-5" id="btnReturnToEvaluation">@_localizer["Вернуть на Оценку КП"]</button>
                }

                @if (_canEdit.Succeeded)
                {
                    <button type="submit" id="save" class="btn btn-primary  ">@_localizer["Save"]</button>
                }

                <button type="button" class="btn btn-secondary mr-3" onclick="closePanel()">@_localizer["Close"]</button>
            </div>



        </div>
    </div>


</div>
