@inject Microsoft.Extensions.Localization.IStringLocalizer<IndexModel>  _localizer

@model IndexModel
@{

}
<div asp-validation-summary="All" class="alert alert-primary text-dark"></div>
@Html.AntiForgeryToken()
<input type="hidden" asp-for="Input.ApplicationUserId" />
<div class="form-group row">
    <div class="col-md-4 mat my-auto ">
        <label class="col-xl-12 form-label ">@_localizer["Login"] <span class="text-danger">*</span></label>
    </div>
    <div class="col-md-8">
        <input type="text" asp-for="UserFormModel.Login" class="form-control" placeholder=@_localizer["Name"] />
        <span class="invalid-feedback" asp-validation-for="UserFormModel.Login"></span>
    </div>

</div>
<div class="form-group row">
    <div class="col-md-4 mat my-auto ">
        <label class="col-xl-12 form-label ">@_localizer["Password"] <span class="text-danger">*</span></label>
    </div>
    <div class="input-group col-md-5">
        <input type="password" asp-for="UserFormModel.Password" class="form-control" placeholder=@_localizer["Password"] value="" />
        <div class="input-group-append">
            <span class="input-group-text" onclick="password_show_hide(this,'UserFormModel_Password');">
                <i class="fas fa-eye" id="show_eye"></i>
                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
            </span>
        </div>
        <span class="invalid-feedback" asp-validation-for="UserFormModel.Password"></span>
    </div>
    <div class="col-md-3 ">
        <button type="button" id="GeneratePass" class="btn btn-secondary"  >@_localizer["Generate"]</button>
    </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 mat my-auto ">
            <label class="col-xl-12 form-label ">@_localizer["Please confirm your password"] <span class="text-danger">*</span></label>
        </div>
        <div class="input-group col-md-8">
            <input type="password" asp-for="UserFormModel.ConfirmPassword" class="form-control" placeholder=@_localizer["Please confirm your password"] />
            <div class="input-group-append">
                <span class="input-group-text" onclick="password_show_hide(this, 'UserFormModel_ConfirmPassword');">
                    <i class="fas fa-eye" id="show_eye"></i>
                    <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                </span>
            </div>
            <span class="invalid-feedback" asp-validation-for="UserFormModel.ConfirmPassword"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4 mat my-auto">
            <label class="col-xl-12 form-label" for="name">@_localizer["Manager"] <span class="text-danger">*</span></label>
        </div>
        <div class="col-md-8">

            <select type="text" asp-for="Input.ManagerId" asp-items="Model.Managers" class="custom-select" placeholder="@_localizer["Manager"]" onchange="GetManagerPhone(this.value)">
                <option value="">@_localizer["Choose manager"]</option>
            </select>

            <span class="invalid-feedback" asp-validation-for="Input.ManagerId">Не выбрано 'Менеджер'</span>
        </div>

    </div>
    <div class="form-group row">
        <div class="col-md-4 mat my-auto ">
            <label class="col-xl-12 form-label ">@_localizer["Manager phone"] <span class="text-danger">*</span></label>
        </div>
        <div class="col-md-8">
            <input type="text" asp-for="UserFormModel.ManagerPhone" class="form-control" placeholder=@_localizer["Manager phone"] readonly />
            <span class="invalid-feedback" asp-validation-for="UserFormModel.ManagerPhone"></span>
        </div>
    </div>


    <div class="form-group row">

        <div class="col-md-4 mat my-auto">
            <label class="col-xl-12 form-label" for="IsService">@_localizer["Active"]</label>

        </div>
        <div class="col-md-8">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="UserFormModel.Active" class="custom-control-input" value="true">
                <label class="custom-control-label" for="UserFormModel_Active"></label>
            </div>

            <span class="invalid-feedback" asp-validation-for="UserFormModel.Active"></span>
        </div>
    </div>


