@page

@inject Microsoft.Extensions.Localization.IStringLocalizer<RegisterModel>  _localizer
    @model RegisterModel
    @{
    ViewData["PageName"] = "register";
    ViewData["Title"] = _localizer["Register"].Value;
    }

    @section PageHeading {
    <div class="col-xl-12">
        <h2 class="fs-xxl fw-500 text-white text-left">
            @_localizer["Торговая площадка- Заявка на регистрацию"]
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                @_localizer["Доп. инфо..."]

            </small>
        </h2>
    </div>
    }

    <div class="col-xl-12 ml-auto mr-auto panel">
        <div class="panel-toolbar ml-auto mr-0">

            <button class="btn btn-panel bg-transparent fs-xl w-auto h-auto rounded-0" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"><i class="@(Settings.Theme.IconPrefix) fa-expand"></i></button>

        </div>
        <div class="card p-4 rounded-plus bg-faded">
            <form id="js-login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab_1" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-user mr-1"></i> @_localizer["Contragent Info"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab_2" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-info-square mr-1"></i> @_localizer["Category"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab_3" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-file mr-1"></i> @_localizer["Files"]</a>
                    </li>
                    <!--For manager-->
                    <li class="nav-item" style="display:none">
                        <a class="nav-link" data-toggle="tab" href="#tab_4" role="tab"><i class="@(Settings.Theme.IconPrefix) fa-check-square mr-1"></i> @_localizer["Accreditation"]</a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 p-3">
                    <div class="tab-pane fade show active" id="tab_1" role="tabpanel">
                       <partial name="../Account/Contragent/ContragentInfoForm"/>
                    </div>
                    <div class="tab-pane fade show" id="tab_2" role="tabpanel">
                        <p> tab2</p>
                    </div>
                    <div class="tab-pane fade show" id="tab_3" role="tabpanel">
                        <p> tab3</p>
                    </div>
                    <div class="tab-pane fade " id="tab_4" role="tabpanel">
                        <p> tab4</p>
                    </div>
                </div>



            </form>
        </div>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/formplugins/inputmask/inputmask.bundle.js"></script>
    <script>
        $(document).ready(function () {
            $(":input").inputmask();
        });
        $("#js-login-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
    }
